.display {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.25rem 2.5%;
  margin: 0 2rem;
}

.logolink {
  text-decoration: none;
  font-size: 0;
}

.logo_container {
  width: 50px;
}

.image {
  width: 100%;
  height: auto;
}

.logo_title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  color: var(--color-brand-primary);
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0 0 2px black;
  user-select: none;
}

.options {
  display: flex;
  gap: 3rem;
}

.link {
  position: relative;
  width: fit-content;
  color: var(--color-brand-primary);
  font-weight: 600;
  font-size: 1.125rem;
  text-shadow: 0 0 2px black;
}

.link::after {
  content: "";
  position: absolute;
  background-color: var(--color-brand-primary);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.2s;
}

.link:hover::after {
  width: 100%;
}

.header_option {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-brand-primary);
  background-color: inherit;
  cursor: pointer;
  position: relative;
}

.header_option::after {
  content: "";
  position: absolute;
  background-color: var(--color-brand-primary);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.2s;
}

.header_option:hover::after {
  width: 100%;
}

.mobile_options {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .display {
    padding: 0.25rem 7%;
  }
}

@media screen and (max-width: 480px) {
  .display {
    padding: 0.25rem 2%;
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 2rem;
    font-weight: 600;
    position: absolute;
    top: 54px;
    right: 0;
    width: 150px;
    z-index: 1;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;

    background-color: var(--color-brand-background-primary);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
  }

  .options.active {
    opacity: 1;
    visibility: visible;
  }

  .mobile_options {
    display: block;
  }
}
