* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

  font-family: "Nunito", sans-serif;
}

:root {
  --color-brand-primary: #fb7b00;
  --color-brand-background-primary: #393b44;
  --color-brand-background-secondary: #6d6f78;
  --color-brand-background-tertiary: #a3a4a8;

  --color-notification-error: rgb(255, 50, 50);
  --color-notification-error-dark: rgb(252, 99, 99);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-brand-background-secondary);
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* =============== General Styles =============== */
.link {
  text-decoration: none;
  color: black;
  position: relative;
}
